<nav>
  <ul>
    <li class="{% if page.url == '/' %}active{% endif %}"><a href="/">Home</a></li>
    <li class="{% if page.url == '/venue/' %}active{% endif %}"><a href="/venue/">Venue</a></li>
    <li class="{% if page.url == '/participation/' %}active{% endif %}"><a href="/participation/">Participation</a></li>
  </ul>
</nav>
